<h1 data-bind="text: StaticText.Current.About_Title"></h1>
<p data-bind="text: StaticText.Current.About_P1"></p>

<div class="bullet-list-container">
	<div class="bullet"></div><p data-bind="text: StaticText.Current.About_P1_B1"></p>
	<div class="bullet"></div><p data-bind="text: StaticText.Current.About_P1_B2"></p>
	<div class="bullet"></div><p data-bind="text: StaticText.Current.About_P1_B3"></p>
	<div class="bullet"></div><p data-bind="text: StaticText.Current.About_P1_B4"></p>
	<div class="bullet"></div><p data-bind="text: StaticText.Current.About_P1_B5"></p>
</div>

<h2 data-bind="text: StaticText.Current.About_P1_B1"></h2>
<p data-bind="text: StaticText.Current.About_P1_B1_P1"></p>

<h2 data-bind="text: StaticText.Current.About_P1_B2"></h2>
<p data-bind="text: StaticText.Current.About_P1_B2_P1"></p>

<h2 data-bind="text: StaticText.Current.About_P1_B3"></h2>
<p data-bind="text: StaticText.Current.About_P1_B3_P1"></p>

<h2 data-bind="text: StaticText.Current.About_P1_B4"></h2>
<p data-bind="text: StaticText.Current.About_P1_B4_P1"></p>

<h2 data-bind="text: StaticText.Current.About_P1_B5"></h2>
<p data-bind="text: StaticText.Current.About_P1_B5_P1"></p>
