<div id="dry" data-bind="visible: Model.CurrentPage().PartialFileName==='principles_dry.html'">
	<h1 data-bind="text: StaticText.Current.Principles_DRY_Title"></h1>
	<p data-bind="text: StaticText.Current.Principles_DRY_Paragraph1"></p>

	<div class="bullet-list-container">
		<div class="bullet"></div><p data-bind="text: StaticText.Current.Principles_DRY_Paragraph1_B1"></p>
		<div class="bullet"></div><p data-bind="text: StaticText.Current.Principles_DRY_Paragraph1_B2"></p>
		<div class="bullet"></div><p data-bind="text: StaticText.Current.Principles_DRY_Paragraph1_B3"></p>
		<div class="bullet"></div><p data-bind="text: StaticText.Current.Principles_DRY_Paragraph1_B4"></p>
		<div class="bullet"></div><p data-bind="text: StaticText.Current.Principles_DRY_Paragraph1_B5"></p>
	</div>
</div>