<div id="banner" class="banner">
	<div class="logo">JR</div>
	<div class="slogan">
		<div class="slogan-item slogan-1">Create</div>
		<div class="slogan-item slogan-2">Improve</div>
		<div class="slogan-item slogan-3">Inspire</div>
	</div>
</div>