<div id="banner" class="banner">
	<div class="logo" data-bind="text:StaticText.Current.Banner_Logo"></div>
	<div class="slogan">
		<div class="slogan-item slogan-1" data-bind="text:StaticText.Current.Banner_Slogan1"></div>
		<div class="slogan-item slogan-2" data-bind="text:StaticText.Current.Banner_Slogan2"></div>
		<div class="slogan-item slogan-3" data-bind="text:StaticText.Current.Banner_Slogan3"></div>
	</div>
</div>