<% include head-responsive %>

<!-- Page title -->
<title data-bind="text: StaticText.Current.Banner_Logo"></title>

<!-- Fonts -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/styles.css">