#banner {
 	font-size: 40px;
 	padding-top: 0.5rem;
 	padding-bottom: 0.5rem;
 	padding-left: 4rem;
 	background-color: 	@text-color-light;
 	color: @color-3;
	.slogan {
		display: none
	}
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}