@input-vertical-margin: 0.5rem;
@input-height: 2.5rem;
@input-vertical-padding: 0.4rem;
@input-horizontal-padding: 1.2rem;
@button-height: 2.7rem;
@input-border-color: rgb(220,220,230);
@border-radius-small: 0.5rem;
@footer-height: 2.0rem;

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;	
}

button {
    width: 100%;
    height: @button-height;
    padding: @input-vertical-padding @input-horizontal-padding @input-vertical-padding @input-horizontal-padding;
    margin-top: @input-vertical-margin;
}

input {
	height: @input-height;
	padding: @input-vertical-padding @input-horizontal-padding @input-vertical-padding @input-horizontal-padding;
	margin-top: @input-vertical-margin;
	border-radius: @input-height;
	border-style: solid;
    border-color: @input-border-color;
}

div.bullet-list-container {
	padding-left: 1rem;
}