@footer-height: 1rem;

.footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    height: @footer-height;
    z-index: 100;
	font-size: 24px;
	color: @text-color-light;
 	padding-top: 1rem;
 	padding-bottom: 1rem;
 	padding-left: 3rem;
 	padding-right: 3rem;
}