#login-banner {
	positoin: relative;
}

#login-title, #register-title, #register-forgotten-password {
	color: @text-color-light;
}

#login-main {
    background-position: 	center top;
    background-size: 		100% auto;
    color: 					@text-color-light;
}

#login-box {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: @color-1;
	opacity: 0.90;
}

#login-footer {
	position: relative;
}