#container {
	min-height: 100%;
}

.home-link-container {
	text-align: center;
}

.home-link-container,.home-sub-item:nth-of-type(odd) {
background: @color-3;
color: @text-color-light;
}

.home-link-container,.home-sub-item:nth-of-type(even) {
background: @text-color-light;
color: @color-1;
}