@min-height: 20rem;
@margin-side: 0.5rem;

#timeline {
	min-height: @min-height;
}

#page-content-container {
	margin-top: 2rem;
	margin-left: @margin-side;
	margin-right: @margin-side;
}

#main-container {
	min-height: 30rem;
} 