@menu-background-color: @text-color-light;

#menu {
	width: 100%;
	background-color: @menu-background-color;
	.menu-item {
		color: @color-2;
		border-color: @color-1;
		border-style: solid;
		border-width: 0;
		border-bottom-width: 1px;
		padding: 0rem;

		
		a {
			padding: 1.0rem;
			&:hover {
				color: @text-color-light;
				background-color: darken(@menu-background-color, 10%);
			}
		}
		a.selected {
			background: linear-gradient(180deg, darken(@color-2, 5%), @color-2);
			color: @text-color-light;
		}

		.sub-item {
			a {
				background-color: @subitem-bg-color;
				&:hover {
					background: linear-gradient(180deg, lighten(@subitem-bg-color, 5%), lighten(@subitem-bg-color, 10%));
				}
			}
			a.selected {
				font-style: bold;
				color: lighten(@color-2, 10%);
				background: linear-gradient(180deg, lighten(@subitem-bg-color, 10%), lighten(@subitem-bg-color, 15%));
			}
		}
	}
}

#menu-icon {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 2rem;
	content:url("../images/menu-white.png");
}