@menu-background-color: @text-color-light;

#menu {
	position: fixed;
	top: 8rem;
	left: 1rem;
	max-width: 15rem;
	.menu-item, .sub-item {
		a {
			padding: 0.4rem;

			&:hover {
				color: @text-color-light;
				background: linear-gradient(180deg, lighten(@color-2, 5%), lighten(@color-2, 10%));
			}
		}
		.selected {
			background: linear-gradient(180deg, darken(@color-2, 5%), @color-2);
			color: @text-color-light;
		}
	}

}

#menu-icon {
	position: absolute;
	top: 3.5rem;
	left: 1rem;
	margin: 1rem;
	width: 3rem;
	content:url("../images/menu.png");
}