@menu-background-color: @color-3;
#menu {
	z-index: 100;
	position: relative;
	.menu-item, .sub-item {
		a {
			text-decoration: initial;
			display: inline-block;
			width: 100%;
			cursor: pointer;
			box-sizing: border-box;
		}
	}
}