@menu-background-color: @text-color-light;

#menu {
	max-width: 15rem;
	.menu-item, .sub-item {
		a {
			padding: 0.4rem;

			&:hover {
				color: @text-color-light;
				background: linear-gradient(180deg, lighten(@color-2, 5%), lighten(@color-2, 10%));
			}
		}
		.selected {
			background: linear-gradient(180deg, darken(@color-2, 5%), @color-2);
			color: @text-color-light;
		}
	}

}