@menu-background-color: @text-color-light;

#menu {
	position: fixed;
	top: 4rem;
	width: 100%;
	background-color: @menu-background-color;
	.menu-item {
		color: @color-2;
		border-color: @color-1;
		border-style: solid;
		border-width: 0;
		border-bottom-width: 1px;
		padding: 0.4rem;

		&:hover {
			color: lighten(@color-2, 10%);
			background-color: darken(@menu-background-color, 10%);
		}
		a {
			padding: 1.0rem;
		}
	}
}

#menu-icon {
	position: fixed;
	top: 1rem;
	right: 1rem;
	width: 2rem;
	content:url("../images/menu-white.png");
}