<!DOCTYPE html>
<html>
	<head>
		<!-- Meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>My App (replace with i18n)</title>

		<!-- Javascript -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
		<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
		<script type="text/javascript" src="scripts/external/routie.js"></script>
		<script type="text/javascript" src="scripts/App.js"></script>

		<!-- CSS -->
		<link title="timeline-styles" rel="stylesheet" type="text/css" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<!-- Fonts -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">
	</head>
	<body>
		<div id="banner">
			<div class="logo">JR</div>
			<div class="slogan">
				<div class="slogan-item slogan-1">Create</div>
				<div class="slogan-item slogan-2">Improve</div>
				<div class="slogan-item slogan-3">Inspire</div>
			</div>
		</div>

		<div id="main-container">
			<div id="menu" data-bind="foreach: Model.MenuItems">
				<div class="menu-item">
					<a data-bind="text: Text, click: Select, css: { selected: Selected }"></a>
					<!-- ko if: SubItems && SubItems.length > 0 -->
					<div class="sub-item-container" data-bind="visible: Expanded">
						<div class="sub-item" data-bind="foreach: SubItems">
							<a data-bind="text: Text, click: Select, css: { selected: Selected }"></a>
						</div>
					</div>
					<!-- /ko -->
				</div>
			</div>

			<div id="page-content-container">
			</div>

		</div>
		<div id="footer">
			© Copyright Justin Rickard 2016
		</div>
	</body>
</html>