/* Base styles: no widths or sizes defined here, just fonts, colours, etc */
/* Colours */
/*  Dark blue */
/*  Orange */
/*  Green */
html,
body {
  font-family: 'Muli', sans-serif;
  color: #252529;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #C43604;
}
p,
label,
input {
  color: #252529;
}
input {
  display: inline-block;
}
button {
  border-style: none;
  background-color: #C43604;
  text-align: center;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: #f64405;
}
div.bullet {
  background-image: url('../images/bullet.png');
  height: 1.2rem;
  width: 1.2rem;
  float: left;
  background-size: 100%;
}
.banner {
  z-index: 110;
  box-sizing: border-box;
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #D8D5F2;
  color: white;
  background-color: #1E353D;
  font-weight: bold;
  box-shadow: 0 10px 6px -6px #777;
}
.banner .logo {
  display: inline-block;
}
.banner .slogan {
  float: right;
}
.banner .slogan-item {
  display: inline;
}
.banner .slogan-1 {
  color: #f64405;
}
.banner .slogan-2 {
  color: #38b738;
}
.banner .slogan-3 {
  color: #ffffff;
}
#footer {
  background-color: #1E353D;
  font-family: 'Tangerine', serif;
  box-shadow: 0 -10px 6px -6px #777;
}
#login-banner {
  positoin: relative;
}
#login-title,
#register-title,
#forgotten-password {
  color: white;
}
#login-main {
  background-position: center top;
  background-size: 100% auto;
  color: white;
}
#login-box {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #1E353D;
  opacity: 0.90;
}
.login-box-item {
  border-color: #e7f0f3;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1.5rem;
}
#login-footer {
  position: relative;
}
#home-container {
  margin-left: auto;
  margin-right: auto;
}
#home-container #home-main-container {
  border-style: solid;
  border-width: 2px;
  border-color: #A5A4A9;
  box-shadow: 0px 0px 18px #D8D5F2;
  background-color: #F6F7FF;
}
#home-container #home-main-container #title-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#home-container #home-main-container #title-container .title {
  font-family: 'Tangerine', serif;
  color: #A5A4A9;
}
#home-container #home-main-container #title-container .subtitle {
  color: #1E353D;
}
#home-container #home-main-container #links-container {
  vertical-align: top;
}
#home-container #home-main-container #links-container .link {
  color: white;
  text-align: center;
}
#home-container #home-main-container #links-container a {
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
}
#home-container #home-main-container #links-container #link-1 {
  background-color: #1E353D;
}
#home-container #home-main-container #links-container #link-1:hover {
  background-color: #2f535f;
}
#home-container #home-main-container #links-container #link-1 h1,
#home-container #home-main-container #links-container #link-1 h2,
#home-container #home-main-container #links-container #link-1 h3,
#home-container #home-main-container #links-container #link-1 h4,
#home-container #home-main-container #links-container #link-1 h5,
#home-container #home-main-container #links-container #link-1 p {
  color: white;
}
#home-container #home-main-container #links-container #link-2 {
  background-color: #C43604;
}
#home-container #home-main-container #links-container #link-2:hover {
  background-color: #f64405;
}
#home-container #home-main-container #links-container #link-2 h1,
#home-container #home-main-container #links-container #link-2 h2,
#home-container #home-main-container #links-container #link-2 h3,
#home-container #home-main-container #links-container #link-2 h4,
#home-container #home-main-container #links-container #link-2 h5,
#home-container #home-main-container #links-container #link-2 p {
  color: white;
}
#home-container #home-main-container #links-container #link-3 {
  background-color: #2C902C;
}
#home-container #home-main-container #links-container #link-3:hover {
  background-color: #38b738;
}
#home-container #home-main-container #links-container #link-3 h1,
#home-container #home-main-container #links-container #link-3 h2,
#home-container #home-main-container #links-container #link-3 h3,
#home-container #home-main-container #links-container #link-3 h4,
#home-container #home-main-container #links-container #link-3 h5,
#home-container #home-main-container #links-container #link-3 p {
  color: white;
}
#home-container #logo-container-1 {
  vertical-align: bottom;
}
#home-container #logo-container-1 img {
  vertical-align: bottom;
}
#home-container #logo-container-2 {
  vertical-align: top;
}
#home-container #logo-container-2 img {
  vertical-align: top;
}
/* Phone */
@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  button {
    width: 100%;
    height: 2.7rem;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    margin-top: 0.5rem;
  }
  input {
    height: 2.5rem;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    margin-top: 0.5rem;
    border-radius: 2.5rem;
    border-style: solid;
    border-color: #dcdce6;
  }
  div.bullet-list-container {
    padding-left: 1rem;
  }
  /* Should not have to add this here, should be able to put it in base-styles-xs however this errors (not defined varible even if it is) */
  #login-title,
  #register-title,
  #forgotten-password {
    color: #1E353D;
  }
  #login-main {
    min-height: 30rem;
    padding: 0.5rem;
  }
  #login-box {
    padding-top: 1rem;
    opacity: 1.0;
    background-color: white;
  }
  .login-box-item {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #1E353D;
  }
  #forgotten-password,
  #login-box-2 {
    margin-top: 2.2rem;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
  #login-button {
    margin-top: 1.0rem;
  }
  .banner {
    font-size: 40px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    color: white;
    background-color: #1E353D;
  }
  .banner .slogan {
    display: none;
  }
  .banner h1,
  .banner h2,
  .banner h3,
  .banner h4,
  .banner h5,
  .banner h6 {
    margin: 0;
  }
  #footer {
    bottom: 0;
    left: 0;
    position: relative;
    height: 2rem;
    z-index: 100;
    font-size: 24px;
    color: white;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #footer p {
    margin-top: 0rem;
    color: white;
  }
  #home-container {
    padding: 1rem;
  }
  #home-container #home-main-container {
    border-style: none;
    padding: 1rem;
  }
  #home-container #home-main-container #title-container {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
  #home-container #home-main-container #title-container .title {
    margin-bottom: 0rem;
    font-size: 3.5rem;
    margin-top: 0;
  }
  #home-container #home-main-container #title-container .subtitle {
    line-height: 0rem;
    margin-top: 0.5rem;
    padding-left: 4rem;
  }
  #home-container #home-main-container #links-container {
    border-radius: 0.5rem;
  }
  #home-container #home-main-container #links-container .link {
    padding: 1.0rem;
    border-radius: 0.5rem;
  }
  #home-container #home-main-container #links-container a {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  #home-container .home-logo-container {
    display: none;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  button {
    width: 100%;
    height: 2.7rem;
    padding: 0.4rem;
  }
  input {
    height: 1.8rem;
    padding: 0.4rem;
  }
  img.bullet-image {
    height: 3rem;
  }
  div.bullet-list-container {
    padding-left: 2rem;
  }
  #login-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url("../images/login_sm.jpg");
    min-height: 30rem;
  }
  #login-box {
    padding: 2rem;
    min-height: 20rem;
    border-radius: 0.2rem;
    max-width: 30rem;
  }
  .login-box-item {
    padding: 1.5rem;
    padding-top: 0rem;
    border-radius: 0.5rem;
  }
  input {
    height: 1.8rem;
    padding: 0.4rem;
    width: calc(97.4%);
  }
  #register-forgotten-password {
    margin-top: 2.2rem;
  }
  .input-container {
    margin-top: 1rem;
  }
  .banner {
    font-size: 40px;
    height: 3.5rem;
    padding-top: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 3rem;
  }
  .banner .slogan {
    font-size: 30px;
  }
  .banner .slogan-item {
    margin-right: 1rem;
  }
  #footer {
    bottom: 0;
    left: 0;
    position: relative;
    height: 2rem;
    z-index: 100;
    font-size: 24px;
    color: white;
    padding-top: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 3rem;
  }
  #footer p {
    margin-top: 0rem;
    color: white;
  }
  #home-container {
    padding: 1rem;
  }
  #home-container #home-main-container {
    border-radius: 1.5rem;
  }
  #home-container #home-main-container #title-container {
    margin-bottom: 3.0rem;
  }
  #home-container #home-main-container #title-container .title {
    margin-bottom: 0rem;
    font-size: 6rem;
    margin-top: 0;
  }
  #home-container #home-main-container #title-container .subtitle {
    line-height: 0rem;
    margin-top: 0;
    padding-left: 15rem;
  }
  #home-container #home-main-container #links-container {
    margin-bottom: 2rem;
  }
  #home-container #home-main-container #links-container .link {
    padding: 1.0rem;
    border-radius: 0.5rem;
    min-height: 8.5rem;
  }
  #home-container #home-main-container #links-container a {
    margin: 2.4%;
    width: 28%;
  }
  #home-container .home-logo-container img {
    width: 18%;
    margin: 3%;
    margin-top: 0.5rem;
  }
  #home-container #logo-container-2 {
    margin-top: 3rem;
  }
}
/* Destop and larger */
@media (min-width: 1200px) {
  button {
    width: 100%;
    height: 2.7rem;
    padding: 0.4rem;
  }
  input {
    height: 1.8rem;
    padding: 0.4rem;
  }
  img.bullet-image {
    height: 3rem;
  }
  div.bullet-list-container {
    padding-left: 2rem;
  }
  #banner {
    position: fixed;
  }
  #login-main {
    padding-top: 3rem;
    background-image: url("../images/login_md.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 30rem;
    padding-bottom: 2rem;
  }
  #login-box {
    padding: 2rem;
    width: 40rem;
    min-height: 24rem;
    border-radius: 0.2rem;
    margin-top: 4rem;
  }
  .login-box-item {
    padding: 1.5rem;
    padding-top: 0rem;
    width: 40%;
    border-radius: 0.5rem;
  }
  .input-container {
    margin-top: 1rem;
  }
  input {
    width: calc(94.4%);
  }
  #register-forgotten-password {
    margin-top: 2.2rem;
  }
  #login-box-1,
  #login-box-2 {
    display: inline-block;
  }
  #login-box-1 {
    float: left;
  }
  #login-box-2 {
    float: right;
  }
  .banner {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 48px;
    height: 5rem;
    padding-top: 1rem;
    padding-left: 1.2rem;
    padding-right: 3rem;
  }
  .banner .slogan {
    font-size: 36px;
  }
  .banner .slogan-item {
    margin-right: 1rem;
  }
  /* @footer-height: 1rem; */
  #footer {
    bottom: 0;
    left: 0;
    position: relative;
    height: 1rem;
    z-index: 100;
    font-size: 24px;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 3rem;
  }
  #footer p {
    margin-top: 0rem;
    color: white;
  }
  #push {
    margin-bottom: -1rem;
  }
  #home-container {
    max-width: 69rem;
    padding: 1rem;
  }
  #home-container #home-main-container {
    border-radius: 2rem;
  }
  #home-container #home-main-container #title-container {
    margin-bottom: 3.0rem;
  }
  #home-container #home-main-container #title-container .title {
    margin-bottom: 0rem;
    font-size: 7rem;
    margin-top: 0;
  }
  #home-container #home-main-container #title-container .subtitle {
    line-height: 0rem;
    margin-top: 0;
    padding-left: 20rem;
  }
  #home-container #home-main-container #links-container {
    margin-bottom: 2rem;
  }
  #home-container #home-main-container #links-container .link {
    padding: 1.25rem;
    border-radius: 0.5rem;
    min-height: 8.5rem;
    /* Hack to get heights equal. Fix later. */
  }
  #home-container #home-main-container #links-container a {
    margin-left: 5%;
    margin-right: 5%;
    width: 23%;
  }
  #home-container .home-logo-container img {
    width: 11rem;
    margin: 3rem;
    margin-top: 0.5rem;
  }
  #home-container #logo-container-2 {
    margin-top: 3rem;
  }
}
