<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>

		<!-- Javascript -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>	
		<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
		<script type="text/javascript" src="scripts/external/routie.js"></script>
		<script type="text/javascript" src="scripts/external/highlight.js"></script>
		<script type="text/javascript" src="scripts/App.js"></script>

		<!-- CSS -->
		<link title="timeline-styles" rel="stylesheet" type="text/css" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
	</head>
	<body>
		<div id="container">

			<% include ../partials/banner %>

			<img id="menu-icon" alt="menu" data-bind="click: Model.ToggleMenu" />


			<div id="menu" data-bind="foreach: Model.MenuItems, visible: Model.MenuVisible">
				<div class="menu-item">
					<a data-bind="text: Page.DisplayName, click: Select, css: { selected: Selected }"></a>
					<!-- ko if: SubItems && SubItems.length > 0 -->
					<div class="sub-item-container" data-bind="visible: Expanded">
						<div class="sub-item" data-bind="foreach: SubItems">
							<a data-bind="text: Page.DisplayName, click: Select, css: { selected: Selected }"></a>
						</div>
					</div>
					<!-- /ko -->
				</div>
			</div>
			<div id="main-container">
				<div id="page-content-container" data-bind="visible: Model.PageContentVisible"></div>
			</div>

			<% include ../partials/footer %>

		</div>
	</body>
</html>